<div class="content">

<h2>Camiões</h2>

<div>
  <div class="inputbox">
    <input type="text" required="required" id="new-matricula" #camiaoMatricula />
    <span for="new-matricula">Matrícula</span>
  </div>
  <div class="inputbox">
    <input type="text" required="required" id="new-tara" #camiaoTara />
    <span for="new-tara">Tara</span>
  </div>
  <div class="inputbox">
    <input type="text" required="required" id="new-capacidade" #camiaoCapacidade />
    <span for="new-capacidade">Capacidade</span>
  </div>
  <div class="inputbox">
    <input type="text" required="required" id="new-cargaBateria" #camiaoCargaBateria />
    <span for="new-cargaBateria">Carga da Bateria</span>
  </div>
  <div class="inputbox">
    <input type="text" required="required" id="new-autonomia" #camiaoAutonomia />
    <span for="new-autonomia">Autonomia</span>
  </div>
  <div class="inputbox">
    <input type="text" required="required" id="new-tempoCarregamentoRapido" #camiaoTempoCarregamentoRapido />
    <span for="new-tempoCarregamentoRapido"> Tempo de Carregamento Rapido</span>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button id="AddCamiao" type="button" (click)="add(camiaoMatricula.value,camiaoTara.value,camiaoCapacidade.value,camiaoCargaBateria.value,camiaoAutonomia.value,camiaoTempoCarregamentoRapido.value); camiaoMatricula.value='';camiaoTara.value='';camiaoCapacidade.value='';camiaoCargaBateria.value='';camiaoTempoCarregamentoRapido.value='';camiaoAutonomia.value='';">
    Add camiao
  </button>
</div>

<hr style="border:0; background-color: rgb(202, 202, 202); height: 1px; margin-bottom: 0;"><br>

<h2>Get Camião</h2>

<div>
  <div class="inputbox">
    <input type="text" required="required" id="matricula" #getCamiaoByMatricula />
    <span for="matricula">Matrícula</span>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button id="GetCamiao" type="button" (click)="getCamiao(getCamiaoByMatricula.value); getCamiaoByMatricula.value=''">
    Get camiao
  </button>
</div>

<ul class="camioes">
  <li *ngFor="let camiao of camioes">
    <a routerLink="/camioes/detail/{{camiao.matricula}}">
       {{camiao.matricula}}
    </a>
    <button id="DeleteCamiao" type="button" class="delete" title="delete camiao"
      (click)="delete(camiao)">x</button>
  </li>
</ul>

<hr style="border:0; background-color: rgb(202, 202, 202); height: 1px; margin-bottom: 0;"><br>

</div>